# Build and Release Folders
target/
webapp/

# Eclipse
.settings/
*.classpath
*.project
*.factorypath

# IntelliJ IDEA
.idea
*.iml
*.log

# vscode
.vscode

# JRebel
rebel.xml

# macOS
.DS_Store

# svn
.svn/

# vue
node_modules/
vue/y9vue-storage/storage/
vue/y9vue-dataAssets/data-assets/

#maven
.flattened-pom.xml
