/*
 * @Author: yihong yihong@risesoft.net
 * @Date: 2024-11-01 17:47:38
 * @LastEditors: yihong yihong@risesoft.net
 * @LastEditTime: 2024-11-04 11:06:49
 * @FilePath: \vue\y9vue-dataAssets\.eslintignore
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */

*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
.husky
.local
/bin
Dockerfile
